.clase1{
  color: red;
  background-color: blue;
}

.clase2{
  color: blue;
  background-color: red;
}

.clase3{
  color: violet;
  background-color: grey;
}

.clase4{
  color: green;
  background-color: yellow;
}
