<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/form1">Formulario 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/form2">Formulario 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/form3">Formulario 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/form4">Formulario 4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/form5">Formulario 5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inp1">Huerto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container-lg">
  <div class="d-flex justify-content-center m-3">
    <router-outlet></router-outlet>
  </div>
</div>
