<div class="row d-flex justify-content-center">
  <div class="col-auto">
    <h3>Componente 1</h3>

    <button (click)="cambio1()" [ngStyle]="{'background-color':colorFondo}" class="btn btn-warning mt-3" style="width: 100%; color:white;">Boton 1</button>
    <button (click)="cambio2()" [ngStyle]="{'background-color':colorFondo}" class="btn btn-danger mt-3" style="width: 100%; color:white;">Boton 2</button>
    <button (click)="cambio3()" [ngStyle]="{'background-color':colorFondo}" class="btn btn-success mt-3" style="width: 100%; color:white;">Boton 3</button>
    <button (click)="cambio4()" [ngStyle]="{'background-color':colorFondo}" class="btn btn-info mt-3" style="width: 100%; color:white;">Boton 4</button>

  </div>
</div>

