<form class="example-form" [formGroup]="miform">

  <mat-form-field class="example-full-width">
    <mat-label>Nombre cliente</mat-label>
    <input type="text" matInput placeholder="" formControlName="nombre">

  </mat-form-field>

  <mat-form-field>
    <mat-label>Parador</mat-label>
    <mat-select required formControlName="parador">
      <mat-option *ngFor="let p of paradores" value="{{p.nombre}}">{{p.nombre}}</mat-option>
    </mat-select>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Fecha de entrada</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="fechaE">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Fecha de salida</mat-label>
    <input matInput [matDatepicker]="picker2" formControlName="fechaS">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>

  </mat-form-field>

  <button type="button" (click)="validar()" mat-stroked-button color="primary">Reservar</button>
  <button type="reset" mat-stroked-button color="accent">Resetear</button>

</form>
