<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-auto">

      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRHdmvCBrq6iS2esMv1qX36x7NhLpMte1sKG05ZU_fIx1sFOI0" alt="IMG ASIR">

      <br><br><br>

      <a routerLink="bd" class="btn btn-warning m-3">BD</a>
      <a routerLink="fh" class="btn btn-success m-3">FH</a>
      <a routerLink="lm" class="btn btn-danger m-3">LM</a>
      <a routerLink="sor" class="btn btn-primary m-3">SOR</a>


    </div>
  </div>
</div>
<router-outlet></router-outlet>
