<form [formGroup]="miform">

  <mat-form-field>
    <mat-label>Codigo CIF</mat-label>
    <input matInput formControlName="cif" >
    <mat-error *ngIf="miform.get('cif')?.hasError('pattern')">No cumple los requisitos</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nombre y Apellidos</mat-label>
    <input matInput formControlName="nombre" >
    <mat-error *ngIf="miform.get('nombre')?.hasError('minlength')">Nombre demasiado corto</mat-error>
    <mat-error *ngIf="miform.get('cif')?.hasError('maxlength')">Nombre demasiado largo</mat-error>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Nota 1</mat-label>
    <input matInput formControlName="n1" >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nota 2</mat-label>
    <input matInput formControlName="n2" >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nota 3</mat-label>
    <input matInput formControlName="n3" >
  </mat-form-field>

    <button mat-stroked-button  (click)="EnviarNotas()">Enviar</button>


</form>

